@media screen and (min-width: 1200px) {
    .container {
        max-width: 1160px;
    }

        /*==========HEADER=========*/
    .logotype {
        margin-right: 76px;
    }

    .contact-list {
         display: flex;
    }

    .contact-item:not(:last-of-type) {
        margin-right: 40px;
     }

    .contact-link {
        padding-top: 24px;
        padding-bottom: 24px;

        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}