/*=================SCREEN WIDTH 320px+ ===================*/

@media screen and (min-width: 320px) {
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }

    .modal {
        width: calc(100% - 32px);
    }
    .mobile-menu-phone {
        font-size: 24px;
    }

    .mobile-menu-list {
        margin-bottom: 15px;
    }
        /*==========HEADER=========*/
    .menu-list {
        display: none;
     }
        
    .contact {
        display: none;
     }
        
    .mobile-menu-open-btn {
        background-color: transparent;
        border: none;
        padding: 0;
        line-height: 0;
    }

     /*==========HERO=========*/

     .hero {
        margin-left: auto;
        margin-right: auto;
        padding-top: 112px;
        padding-bottom: 112px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/hero/hero-mobile.jpg');
        background-size: cover;
        max-width: 428px;
        background-position: center;
        background-repeat: no-repeat;
        background-color: rgba(46, 47, 66, 0.7);
         }

    .hero-title {
        margin: 0 auto 72px auto;
        max-width: 319px;

        font-size: 36px;
        line-height: 1.11;
    }

    .hero-button {
        min-width: 105px;
    }

    /*==================ABOUT========*/
    .information {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .information-icon-container {
        display: none;
    }

    .information-item:not(:last-of-type) {
        margin-bottom: 72px;
    }

    .information-title {
        font-weight: 700;
    
        font-size: 36px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        text-align: center;
        }
    .information-text {
        text-align: justify;
    }

/*==================JOB========*/
    .job-example {
        display: none;
    }

/*==================TEAM========*/
    .team {
        padding-top: 96px;
        padding-bottom: 128px;
    }
    .team-item {
        margin-left: auto;
        margin-right: auto;
        width: 264px;
    }
    .team-item:not(:last-of-type) {
        margin-bottom: 72px;
    }


/*==================CUSTOMERS========*/
    .customers {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .customers-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 16px;
        row-gap: 72px;
    }

    .customers-item {
        min-height: 88px;
        flex-basis: calc((100% - 16px) / 2);
    }

        /*==================FOOTER========*/
    .footer-container {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .footer-description {
        margin-bottom: 72px;
    }

    .logo-bottom {
        text-align: center;
    }

    .footer-text {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 268px; 
    }

    .footer-social-text {
        text-align: center;
    }

    .footer-social-list {
        justify-content: center;
    }

    .footer-social-media {
        margin-bottom: 72px;
    }

    .footer-field-description {
        text-align: center;
    }

    .footer-input {
        width: 100%;
        margin-bottom: 16px;
    }

    .footer-mail-btn {
        min-width: 165px;
        margin-left: auto;
        margin-right: auto;
        
    }
    /*=============PORTFOLIO PAGE=========*/
    .portfolio-section {
        padding-top: 48px;
        padding-bottom: 48px;
    }
    .portfolio-select-list {
        margin-bottom: 48px;
        row-gap: 16px;
    }
    .portfolio-select-btn {
        padding: 8px 16px;
    }

    .portfolio-work-item {
        width: 100%;
    }

}


/*==================HERO BG IMAGE 2x========*/
@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px),
screen and (min-resolution: 192dpi) and (min-width: 320px),
screen and (min-resolution: 2dppx) and (min-width: 320px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/hero/hero-mobile@2x.jpg');
    }
}

/*=================SCREEN WIDTH 480px+ ===================*/
@media screen and (min-width: 480px) {
   .container {
    max-width: 428px;
   
   } 
.mobile-menu-phone {
    font-size: 36px;
}

}

/*=================SCREEN WIDTH 0-767px ===================*/
@media screen and (max-width: 767px) {

        .portfolio-work-item {
            margin-bottom: 48px;
        }
.portfolio-work-list {
    justify-content: center;
}
}

/*=================MOBILE MENU===================*/
.mobile-menu {
    display: flex;
    flex-direction: column;
    padding: 80px 40px 40px 40px;

    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms linear, visibility 250ms linear;
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    position: absolute;
    top: 40px;
    right: 40px;

    width: 24px;
    height: 24px;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}



.mobile-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    
    color: #2E2F42;
   
}

.current-mobile {
    color: rgba(64, 75, 191, 1);
}

.mobile-menu-item:not(:last-of-type) {
    margin-bottom: 40px;
}

.mobile-menu-contact-social {
    margin-top: auto;
}

.mobile-menu-phone {

    font-style: normal;
    font-weight: 600;
    line-height: 1.11;
    text-transform: capitalize;
   
    color: #4D5AE5;
}

.mobile-menu-mail {
    display: inline-block;
    margin-top: 40px;

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  
    color: #434455;
}

.mobile-menu-social-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 56px;
    row-gap: 28px;

    margin-top: 48px;
}

.mobile-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
}