:root {
--accent-color: #404BBF;
--color-main-title: #FFFFFF;
--color-next-title: #2E2F42;
--color-text: #434455;
--color-logo-bkg-button: #4D5AE5;
--color-footertext-bkg-subtitle: #E7E9FC;
--color-logo: #F4F4FD;
--color-customers: #8E8F99;
--transition-dur-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*=======COMPONENTS======*/
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0; padding: 0;
}

img {
    display: block;
    min-width: 100%;
    height: auto;
}


.container {
    width: 100%;
    margin: 0 auto;
    
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-text);
    background-color: var(--color-main-title);
}


.list {
    list-style: none;
}

.link {
text-decoration: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/*==========HEADER=========*/

.header {
    border-bottom: 1px solid var(--color-footertext-bkg-subtitle);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-header {
    display: flex;
}

.logotype {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    font-weight: 800;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-logo-bkg-button);
}

.part-logotype-dark {
    color: var(--color-next-title);
} 

.menu-link {
    position: relative;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-next-title);

    transition: color var(--transition-dur-func);
}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}

.current {
    color: #404BBF;
}

.current::after {
    content: " ";
    display: block;

    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 4px;

    background-color: #404bbf;        
    border-radius: 2px;
}

.menu-item:not(:last-child) {
    margin-right: 40px;
}

.contact {
    font-style: normal;
}

.contact-link {
    display: block;

    color: var(--color-text);

    transition: color var(--transition-dur-func);
}

.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
}


/*==================HERO========*/
.hero {
    margin-left: auto;
    margin-right: auto;
    
    background-color: rgba(46, 47, 66, 0.7);
}


.hero-title {
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-main-title);
}

.hero-button {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 16px 32px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-main-title);
    background-color: var(--color-logo-bkg-button);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: var(--color-logo-bkg-button);
    border-radius: 4px;

    transition: background-color var(--transition-dur-func), border-color var(--transition-dur-func);
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}


/*==================ABOUT========*/

.information-title {
    margin-bottom: 8px;
    letter-spacing: 0.02em;
    color: var(--color-next-title);
}

.information-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-text);
}

/*==================JOB========*/


/*==================TEAM========*/
.team {
    background-color: var(--color-logo);

}

.team-item {
    border-radius: 0px 0px 4px 4px;
 
    background-color: var(--color-main-title);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);;
}

.team-title {
    margin-bottom: 72px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-next-title);
    text-transform: capitalize;
}


.team-member {
    text-align: center;
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-next-title);
}

.team-description {
    text-align: center;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-text);
}

.team-text {
    padding: 32px 0 32px 0;
}

.team-social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.team-social-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-logo-bkg-button);

    transition: background-color var(--transition-dur-func);
}

.team-social-link:hover,
.team-social-link:focus {
    background-color: var(--accent-color);
}


/*=============CUSTOMERS=========*/

.customers-title {
    margin-bottom: 72px;

    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-next-title);
}

.customers-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    color: var(--color-customers);
    border: 1px solid var(--color-customers);
    border-radius: 4px;

    transition: border-color var(--transition-dur-func), color var(--transition-dur-func);
}

.customers-icon {
    fill: currentColor;

    transition: fill var(--transition-dur-func);
}

.customers-link:hover,
.customers-link:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
}

.customers-icon:hover,
.customers-icon:focus {
    fill: currentColor;
}


/*=============PORTFOLIO PAGE=========*/
.portfolio-select-list {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-select-item:not(:last-child) {
    margin-right: 24px;
}

.portfolio-select-btn {
    font-family: inherit;
    padding: 12px 24px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    border: 1px solid var(--color-footertext-bkg-subtitle);
    border-radius: 4px;
    color: var(--color-logo-bkg-button);
    background-color: var(--color-footertext-bkg-subtitle);
    cursor: pointer;

    transition: color var(--transition-dur-func), background-color var(--transition-dur-func), border-color var(--transition-dur-func), box-shadow var(--transition-dur-func);
}

.portfolio-select-btn:hover,
.portfolio-select-btn:focus {
    color: var(--color-main-title);
    background-color: var(--accent-color);
    border-color: transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-work-list {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-work-link {
    display: block;

    transition: box-shadow var(--transition-dur-func);
}

.portfolio-work-link:hover,
.portfolio-work-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-img-wrap {
    position: relative;
    overflow: hidden;
}
.portfolio-text-overlay {

    padding: 40px 32px;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transform: translate(0, 100%);

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-logo);
    background-color: var(--color-logo-bkg-button);

    transition: transform var(--transition-dur-func);
}

.portfolio-work-link:hover .portfolio-text-overlay,
.portfolio-work-link:hover .portfolio-text-overlay {
    transform: translate(0, 0);
}

.portfolio-work-title {
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-next-title);
}

.portfolio-work-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-text);
}

.portfolio-img-text {
    padding: 32px 16px;
    border-right: 1px solid var(--color-footertext-bkg-subtitle);
    border-left: 1px solid var(--color-footertext-bkg-subtitle);
    border-bottom: 1px solid var(--color-footertext-bkg-subtitle);
}

/*==================FOOTER========*/
.footer-container {
    background-color: var(--color-next-title);
}

.part-logotype-light {
    color: var(--color-logo);
}

.logo-bottom {
    margin-bottom: 16px;
    margin-right: 0;
    padding: 0;

    line-height: 1.17;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-footertext-bkg-subtitle);
}

.footer-social-text {
    margin-bottom: 16px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-main-title);
}

.footer-social-list {
    display: flex;
    gap: 16px;
}

.footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color var(--transition-dur-func);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31D0AA;;
}

.footer-field-description {
    display: block;
    margin-bottom: 16px;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-main-title);
}

.footer-input {
    padding: 8px 16px;

    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    color: #FFFFFF;
    outline: none;

    transition: border-color var(--transition-dur-func);
}

.footer-input:focus {
    border-color: #4D5AE5;
}

.footer-mail-btn {
    display: flex;
    height: 40px;
    padding: 8px 24px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;

    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    border-color: transparent;

    cursor: pointer;
    transition: background-color var(--transition-dur-func);
}

.footer-mail-btn:hover,
.footer-mail-btn:focus {
    background-color: var(--accent-color);
}

.subscribe-icon {
    margin-left: 16px;
}
/*==================/FOOTER========*/

/*==================MODAL FORM WINDOW =======*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.4);
    z-index: 100;

transition: opacity var(--transition-dur-func), visibility var(--transition-dur-func);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    padding: 72px 24px 24px 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    max-width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    
}

.modal-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 24px;
    right: 24px;

    padding: 0;
    width: 24px;
    height: 24px;
    background-color: rgb(231, 233, 252, 1);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;

    transition: background-color var(--transition-dur-func), border-color var(--transition-dur-func);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

.modal-close-icon {
    fill: #000000;

    transition: fill var(--transition-dur-func);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
    fill: #FFFFFF;
}

.modal-title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 8px;
}

.modal-form-descr {
    display: block;
    margin-bottom: 4px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.input-container {
    position: relative;
 
}

.modal-form-input {
    padding-left: 38px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #000000;

    outline: none;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
    border-color: #4D5AE5;
}

.modal-form-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
    fill: #4D5AE5;
}

.form-group-textarea {
    margin-bottom: 16px;
}

.modal-form-textarea {
    display: block;
    padding: 8px 16px;
    resize: none;
    width: 100%;
    height: 120px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #000000;
    
    outline: none;
    
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea:focus {
    border-color: #4D5AE5;
}

.modal-form-textarea::placeholder {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    
    color: rgba(117, 117, 117, 0.5);
}

.modal-form-check:checked + .policy-field-check::before {
    background-color: rgba(64, 75, 191, 1);
    border-color: #404BBF;
    background-image: url(../images/svg/check-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;

}

.policy-field-check::before {
    display: block;
    content: '';

    margin-right: 8px;
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    border: 1.25px solid #2E2F42;
    border-radius: 2px;
    cursor: pointer;

   
    transition-property: background-color, border, border-radius, background-image, background-repeat, background-position, background-size;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-field-check {
    display: flex;
    align-items: center;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    
    color: #757575;
}

.policy-field-link {
    text-decoration-line: underline;
    color: #4D5AE5;
}

.modal-form-btn {
    margin-top: 24px;
    padding: 16px 32px;

    align-self: center;

    min-width: 169px;
    height: 56px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    
    color: #FFFFFF;

    cursor: pointer;
    border-color: transparent;
    background-color: rgba(77, 90, 229, 1); 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:hover,
.modal-form-btn:focus {
    background-color: var(--accent-color);
}
/*==================/MODAL WINDOW=======*/